<!DOCTYPE html>
<html lang="en">
  <head><title>Tiny App</title></head>
<body>

	<% if(user){ %>
  <%= user.email %>

  <form method="POST" action="/logout">
  	
  <input type="submit" value="Logout">

 </form>

<% } else { %>

<h1> <%= error %> </h1>

	<a href="/registration">Register</a>
	<a href="/login">Log In</a>
	
<% } %>

 </body>
 </html>

