<!DOCTYPE html>
<html lang="en">
  <head><title>Tiny App</title></head>
<body>

	<% if(username){ %>
  <%= username %>

  <form method="POST" action="/logout">
  	<div>
  		 <input type="submit" value="Logout">
  	</div>
 
  </form>

	<% } else { %> 

  <form method="POST" action="/login">
  	<div>
  <input type="text" name="name" placeholder="username">
  
  <input type="submit" value="Submit">
 	</div>
 </form>

<% } %>

 </body>
 </html>

