<!DOCTYPE html>
<html lang="en">
<head>
 
<title></title>

</head>
<body>
<% include partials/_header %>

<form method="POST" action="/urls/<%= shortURL %>/update">
 
<p> Short URL:          <%= shortURL %>    </p>


<p> Long URL:            <%= longURL %>     </p>


<input type="text" name="longURL" placeholder="Edit Long URL"></input>
<input type="submit" value="Edit"></input>

</form>

<a href="/urls">Back to URL's</a>

</body>
</html>
