<title>Header</title>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>

</head>

<body>
	<% include partials/_header %>
    <h1>Welcome to Tiny App!</h1>
    <h3>Here are your URL's </h3>

    <a href="/urls/new">Add a new URL</a>
    	<ul>
    	<p> <% for (key in urls) { %>
    		
    			<li><%= key %> ---> <%= urls[key].longURL %> 
    				<form method="POST" action="/urls/<%= key %>/delete">
    				<a href="/urls/<%= key %>">Edit</a>
    				<input type="submit" value="DELETE"></input>
    				</form>

    			</li>
    		<% } %>
    
    
    
    
</body>
</html>