<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>

	<% include partials/_header %>
    <h1>Welcome to Tiny App!</h1>
    
<a href="/urls/new">Add a new URL</a>

    <h3>Here are the URL's </h3>

    	<ul>
    	<p> <% for (key in urls) { %>
    		
    			<li><%= key %> ---> <%= urls[key].longURL %> 

                    <% if (user != null && urls[key]["userID"] === user.id) { %>

    				<form method="POST" action="/urls/<%= key %>/delete">

    				<input type="submit" value="DELETE"></input>

                    <a href="/urls/<%= key %>">Edit Long URL</a>

    				</form>

                  <% } %>  


    			</li>
    		<% } %>
      
</body>
</html>