<title>Header</title>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>

</head>
<body>
    <h1>This is the body!</h1>
    	<ul>
    	<p> <% for (shortURL in urls) { %>
    		
    			<li><%= shortURL %> ---> <%= urls[shortURL] %> 
    				<form method="POST" action="/urls/<%= shortURL %>/delete">
    				<a href="/urls/<%= shortURL %>">Edit</a>
    				<input type="submit" value="DELETE"></input>
    				</form>

    			</li>
    		<% } %>
    
    
    
    
</body>
</html>