<!DOCTYPE html>
<html lang="en">
<head>
 
<title></title>

</head>
<body>
<% include partials/_header %>

<form method="POST" action="/urls/<%= shortURL %>/update">

<input type="text" name="longURL"></input>
<input type="submit" value="Submit"></input>
</form>
<p>  <%= shortURL %>    </p>
<p>  <%= longURL %>   </p>
</body>
</html>
